#accordion {
  padding-bottom: 2rem;
}

.card-header {
  margin: 0;
  padding: 0.2rem;

  /* &__statement { */
  background-color: $darkGrey;
  /* } */
  /* &__faq { */
    /* background-color: $blueWhite; */
  /* } */
}

.btn-link {
  color: black;
  /* font-size:  1.0rem; */
  padding-top: 0;
  padding-bottom: 0;
}

.card-body {
  background-color: $blueWhite;
}

.rotate-icon {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

[data-toggle="collapse"][aria-expanded="true"] > .rotate-icon
{
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}

.accordion {

  &__card-body {
    font-size: 1rem;
    &__highlight {
      font-weight: bold;
    }

    @mixin atSmall {
      font-size: 1.2rem;
    }

    .internal-link:hover {
      color: $blueWhite;
    }
  }


  /* &__card {
    width:auto;
    overflow:hidden
  } */

  &__card-header {
    align: left;
    color: $blueWhite;
    font-size: 1rem;
    /* &__highlight { */
    font-weight: bold;
    /* } */

    @mixin atSmall {
      font-size: 1.1rem;
    }
  }

  &__card-header:hover {
    text-decoration: underline white;
  }
}
