.newsArticleText {
  font-family: TimesNewRoman, serif;
  font-size: 1.0rem;

  @mixin atSmall {
    font-size: 1.2rem;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: bold;

    @mixin atSmall{
      font-size: 2.0rem;
    };
  }

  &__subtitle {
    font-size: 0.9rem;
    font-weight: bold;
    color: black;

    @mixin atSmall{
      font-size: 1rem;
    };
  }

  /* &__authors {
    font-size: 0.8rem;
  } */

  &__disclaimer {
    font-size: 1rem;
  }

  &__citation {
    font-style: italic;
  }

  &__teaser {
    font-weight: bold;
    font-size: 1.1rem;

    @mixin atSmall{
      font-size: 1.4rem;
    };
  }

  &__plain {
    width:auto;
  }

  &__enumerate1 {
    padding-bottom: 1rem;
  }
  &__enumerate2 {
    padding-bottom: 1rem;
  }
}
