<!-- <div class="container-lg"> -->
<div id="carousel-hero" class="carousel slide container-lg" data-ride="carousel">
  <div class="hero__textdiv">
    <h1 class="hero__title"><span>Containing</span><span> COVID-19</span></h1>
    <p class="hero__subtitle">A joint statement of scientists from all across Europe.</p>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="."><div class="hero__image" id="hero-image1"></div></a>
    </div>
    <div class="carousel-item">
      <a href="."><div class="hero__image" id="hero-image2"></div></a>
    </div>
  </div>

</div>
