  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!-- <div class="container-lg"> -->
  <div class="collapse navbar-collapse container-lg" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item border-right" id="nav-statement">
        <a class="nav-link" href=".">Statement</a>
      </li>
      <li class="nav-item border-right dropdown" id="nav-signatures">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Signatures</a>
        <div class="dropdown-menu" id="dropdown-signatures" aria-labelledby="nav-signatures">
            <a class="dropdown-item" href="./signatories.html">Signatories</a>
            <a class="dropdown-item" href="./signUp.html">Sign up!</a>
        </div>
      </li>
      <li class="nav-item border-right dropdown" id="nav-press">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Press coverage</a>
          <div class="dropdown-menu" id="dropdown-press" aria-labelledby="nav-press">
              <a class="dropdown-item" href="./NewsArticle.html">Article: DIE ZEIT</a>
              <a class="dropdown-item disabled" href="#recep">Press reception</a>
          </div>
      </li>

      <li class="nav-item border-right" id="nav-interview">
        <a class="nav-link" href="./Interview.html">Author Interviews</a>
      </li>
      <li class="nav-item border-right dropdown" id="nav-language">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon "> </span> Language</a>
          <div class="dropdown-menu" id="dropdown-languages" aria-labelledby="language-selector">
              <a class="dropdown-item" href="#nl"><span class="flag-icon flag-icon-nl"></span>Dutch</a>
              <a class="dropdown-item" href="#eng"><span class="flag-icon flag-icon-uk"></span>English</a>
              <a class="dropdown-item" href="#fin"><span class="flag-icon flag-icon-fin"></span>Finnish</a>
              <a class="dropdown-item" href="#fr"><span class="flag-icon flag-icon-fr"></span>French</a>
              <a class="dropdown-item" href="#ger"><span class="flag-icon flag-icon-ger"></span>German</a>
              <a class="dropdown-item" href="#it"><span class="flag-icon flag-icon-it"></span>Italian</a>
              <a class="dropdown-item" href="#it"><span class="flag-icon flag-icon-pl"></span>Polish</a>
              <a class="dropdown-item" href="#it"><span class="flag-icon flag-icon-sl"></span>Slovene</a>
              <a class="dropdown-item" href="#swe"><span class="flag-icon flag-icon-swe"></span>Swedish</a>
          </div>
      </li>
    </ul>
  </div>
<!-- </div> -->
