#accordion {
  padding-bottom: 2rem;
}

.card-header {
  margin: 0;
  padding: 0.2rem;

  &__statement {
    background-color: $darkGrey;
  }
  &__faq {
    background-color: $blueWhite;
  }
}

.btn-link {
  color: black;
  /* font-size:  1.0rem; */
  padding-top: 0;
  padding-bottom: 0;
}

.card-body {
  background-color: $blueWhite;
}

.rotate-icon {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

[data-toggle="collapse"][aria-expanded="true"] > .rotate-icon
{
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}
