footer {
  background-color: $darkGrey;
  color: $blueWhite;
  /* padding-top: 2rem; */
  padding: 2rem;

  a {
    color: $blueWhite;
    /* padding: 2rem; */
    margin: 2rem;
  }
  /* p {
    color: #d5d5d5;
  } */
}

/* .light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;

  &__100 {
    width: 100%;
  }
} */
