footer {
  background-color: $darkGrey;
  color: $blueWhite;
  padding: 2rem;

  a {
    color: $blueWhite;
    margin: 2rem;
    font-size: 1.2rem;
  }
}

/* .light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;

  &__100 {
    width: 100%;
  }
} */
