#hero-image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/header/low_numbers_h=768.png");
  /* padding-top: inherit; */
  @mixin atSmall {
    background-image: url("./images/header/low_numbers_h=384.png");
  }
  @mixin atMedium {
    background-image: url("./images/header/low_numbers_h=300.png");
  }
}

#hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/header/europe_h=768.png");
  @mixin atSmall {
    background-image: url("./images/header/europe_h=384.png");
  }
  @mixin atMedium {
    background-image: url("./images/header/europe_h=300.png");
  }
}

.hero {
  background-color: $darkBlue;
  /* Position and center the image to scale nicely on all screens */
  &__image {
    /* display: block; */
    /* overflow: visible; */
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;/* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  */

    /* Set a specific height */
    padding-top: 75%;
    @mixin atSmall {
      padding-top: 37.5%;
    }
    @mixin atMedium {
      padding-top: 29.3%;
    }
  }

  &__textdiv {
    position: absolute;
    z-index: 2;
    right: 5%;
    width: 60%;
  }

  &__title {

    text-align: right!important;
    /* overflow: none; */
    /* padding-bottom: 20%; */
    color: $blueWhite;
    hyphens: none;
    /* $darkGrey; */
    font-size: 1.8rem;
    @mixin atSmall {
      font-size: 2rem;
    }
    @mixin atMedium {
      font-size: 2.5rem;
    }
    @mixin atLarge {
      font-size: 3rem;
    }
  }

  &__subtitle {
    text-align: right;
    /* color: $darkGrey; */
    color: $blueWhite;
    font-size: 1.2rem;
    @mixin atSmall {
      font-size: 1.5rem;
    }
    @mixin atMedium {
      font-size: 1.8rem;
    }
    @mixin atLarge {
      font-size: 2rem;
    }
  }
}
