.card-header {
  margin: 2px;
  padding: 2px;
  background-color: white;
}

.btn-link {
  color: black;
  font-size:  1.0rem;
  padding-top: 0;
  padding-bottom: 0;
}

.card-body {
  background-color: $mainYellow;
}

.rotate-icon {
  padding-left: 10px;
  padding-right: 10px;
}

[data-toggle="collapse"][aria-expanded="true"] > .rotate-icon
{
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}
