#carousel-signatories {
  position: relative;
  display: block;
  max-width: 800px;
  height: 1500px;
  overflow:hidden;
  /* background-color: green; */
}

/* .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    position: relative;
    right: -80px;
} */

/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    position: relative;
    left: -80px;
} */

.carousel-signatories {
  display: block;
  margin-top: 4rem;
  padding: 0.5rem;
}

.carousel-indicators {
  position: absolute;
  left: center;
  top: -60px;
  li {
    background-color: black;
  }
}

/* .carousel-indicators li {
    display: inline-block;
    position: absolute;
    top
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: #ffff99;
} */
