.container {
  margin: auto;

  &__global {
    max-width:  900px;
  }

  &__authors {
    max-width: 1000px;
  }

  &__statement {
    max-width: 800px;
  }

  &__references {
    margin-top: 2rem;
  }

  &__signatories {
    display: block;
    max-width: 800px;
    height: 1500px;
    overflow:hidden;
  }
}
