.text {
  &__intro {
    font-size: 1rem;
    /* padding: 2rem; */
    /* margin: 2rem; */
  }

  &__languageDisclaimer {
    font-style: italic;
    font-size: 0.9rem;
  }

  &__link {
    color:black;
  }
}

.languageDisclaimer
{
  &__collapse {
    display: block;
    padding: 1rem;
  }

  &__button {
    color: $darkGrey;
    text-decoration: underline;
    padding-bottom: 1rem;
  }
  &__button:hover {
    color: black;
    font-weight: bold;
  }
}
