#hero {
  /* color: white; */
  /* background-image: url("data/ContainCovid.png"); */
  /* background-image: url("data/super-woman-1885016_640.jpg"); */
  /* @mixin atSmall {
    background-image: url("data/super-woman-1885016_640.jpg");
  }
  @mixin atMedium {
    background-image: url("data/super-woman-1885016_1280.jpg");
  }
  @mixin atLarge {
    background-image: url("data/super-woman-1885016_1920.jpg");
  } */

  /* width: 100%; */
  /* height: auto; */
  /* padding-top: 27%; */
  /* display: block; */

  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* margin-bottom: 0; */

  /* height: 400px; */

  /* @mixin atMedium {
    height: 30%;
  } */


}

#hero {
  width: 100%;
}

.hero {
  /* height: auto; */

  &__image {
    position: relative;
    /* display: block; */
  }

  &__textdiv {
    height:0;
  }

  &__title {
    position: absolute;
    align: center;
    top: 10rem;
    /* padding-bottom: 10rem; */
    padding-left: 50%;
    font-size: 3rem;
  }

  &__subtitle {
    position: absolute;
    align: center;
    top: 17rem;
    padding-left: 50%;
    font-size: 2rem;
    width: 90%;
  }
}
