#hero {
  color: white;
  background-image: url("data/super-woman-1885016_640.jpg");
  @mixin atSmall {
    background-image: url("data/super-woman-1885016_640.jpg");
  }
  @mixin atMedium {
    background-image: url("data/super-woman-1885016_1280.jpg");
  }
  @mixin atLarge {
    background-image: url("data/super-woman-1885016_1920.jpg");
  }
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  /* height: 400px; */
  height: 33%;

  @mixin atMedium {
    height: 50%;
  }
}
