.author {

  &__name {
    font-weight: normal;
    font-size:  1.2rem;
    color: black;
  }

  &__name:hover {
    color: black;
    text-decoration: underline;
    font-weight: bold;
  }

  &__name[title]:after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 0;
  font-size: 2rem;
}

  &__affiliation {
    font-size: 0.8rem;
  }
}

.ref {
  font-size:  1rem;

  &__number {
    font-weight: bold;
  }
  &__title {
    font-style: italic;
    /* font-weight: bold; */
  }
  /* &__journal {
    font-weight: italic;
  } */
}

.list-minor {
  list-style-position: inside;
  counter-reset: list;
}
.list-minor > li {
  list-style: none;
}
.list-minor > li:before {
  content: "(" counter(list, lower-roman) ") ";
  counter-increment: list;
}
