.author {

  &__name {
    font-weight: normal;
    font-size:  0.8rem;
    color: black;

    @mixin atSmall {
      font-size: 1.2rem;
    }
  }

  &__name:hover {
    color: black;
    text-decoration: underline;
    font-weight: bold;
  }

  &__name[title]:after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 0;
  font-size: 2rem;
}

  &__affiliation {
    font-size: 0.8rem;
  }
}

.ref {
  font-size:  1rem;

  &__number {
    font-weight: bold;
  }
  &__title {
    font-style: italic;
  }

  &__title-link {
    color: black;
    text-decoration: underline;
  }
}

.sign {
  &__name {
    font-weight: bold;
    font-size: 1rem;
  }

  &__affiliation {
    font-size: 0.8rem;
  }
}

.statement {
  font-size: 1.0rem;

  @mixin atSmall {
    font-size: 1.4rem;
  }
}

.title {
  color: black;
  font-size: 1.6rem;

  @mixin atSmall {
    font-size: 3.2rem;
  }

}
/* @media (min-width:530px) {
    .title {
        font-size: 6.0rem;
    }
} */

.list-minor {
  list-style-position: inside;
  counter-reset: list;
  padding-left: 0px;
}
.list-minor > li {
  list-style: none;
}
.list-minor > li:before {
  content: "(" counter(list, lower-roman) ") ";
  counter-increment: list;
}
