<div class="container-fluid padding">
  <div class="row text-center">
    <div class="col-md-4">
      <img src="">
      <hr class="light">
      <p>0123-456789</p>
      <p>viola.priesemann@ds.mpg.de</p>
      <p>Am Fassberg 17</p>
      <p>37075 Göttingen</p>
    </div>
    <div class="col-md-4">
      <hr class="light">
      <p>Some further text</p>
      <p>and even more</p>
    </div>
    <div class="col-md-4">
      <hr class="light">
      <p>Some further text</p>
      <p>and even more</p>
    </div>
    <div class="col-12">
      <hr class="light light__100">
      <h5>&copy; MPI DS </h5>
    </div>
  </div>
</div>
