<h1 class="newsArticleText newsArticleText__title">"Deutscher Titel" Article from "Die Zeit"</h1>
<h3 class="newsArticleText newsArticleText__subtitle"><a href="https://www.zeit.de/2020/52/corona-lockdown-weihnachten-europa-reisen-soziale-kontakte-aha-l" target="_blank">Originally published</a> on "Die Zeit" on 09. Dec. 2020<h3>

<h5 class="newsArticleText__authors">Authors: Melanie Brinkmann, Sandra Ciesek, Viola Priesemann</h5>

<p>this article can be translated and printed, if referred to the original source</p>

<p class="newsArticleText newsArticleText__plain">Text_00</p>

<p class="newsArticleText newsArticleText__plain">Text_01</p>

<p class="newsArticleText newsArticleText__plain">Text_02</p>

<p class="newsArticleText newsArticleText__plain">Text_03</p>

<p class="newsArticleText newsArticleText__plain">Text_04</p>

<p class="newsArticleText newsArticleText__plain">Text_05</p>

<p class="newsArticleText newsArticleText__plain">Text_06</p>

<ul>
  <li class="newsArticleText newsArticleText__enumerate1">Text_07</li>
  <li class="newsArticleText newsArticleText__enumerate1">Text_08</li>
  <li class="newsArticleText newsArticleText__enumerate1">Text_09</li>
  <li class="newsArticleText newsArticleText__enumerate1">Text_10</li>
  <li class="newsArticleText newsArticleText__enumerate1">Text_11</li>
  <li class="newsArticleText newsArticleText__enumerate1">Text_12</li>
</ul>

<p class="newsArticleText newsArticleText__plain">Text_13</p>

<p class="newsArticleText newsArticleText__plain">Text_14</p>

<ol>
  <li class="newsArticleText newsArticleText__enumerate2">Text_15</li>
  <li class="newsArticleText newsArticleText__enumerate2">Text_16</li>
  <li class="newsArticleText newsArticleText__enumerate2">Text_17</li>
  <li class="newsArticleText newsArticleText__enumerate2">Text_18</li>
</ol>

<p class="newsArticleText newsArticleText__plain">Text_19</p>

<p class="newsArticleText newsArticleText__plain">Text_20</p>

<p class="newsArticleText newsArticleText__plain">Text_21</p>

<p class="newsArticleText newsArticleText__plain">Text_22</p>

<p class="newsArticleText newsArticleText__plain">Text_23</p>

<p class="newsArticleText newsArticleText__plain">Text_24</p>

<p class="newsArticleText newsArticleText__plain">Text_25</p>
