<div class="container-fluid">
    <h1 class="text-statement text-statement__title" id="statement__title">statement_00</h1>
</div>

<div class="container-fluid container__languageDisclaimer d-flex justify-content-center">
<p class="text__languageDisclaimer">Translations of the statement are available through the "Languages" menu. They are intended to help international readers. While every effort has been made to ensure accuracy, if there are any differences in the texts, the original version in English is definitive and was the version published in the Lancet and signed by the original authors and signatories. We'd like to thank our volunteer translators for their hard work in helping make the statement accesible in as many languages as possible.<br>
Your language is not available? <a href="mailto:alexander.schmidt@ds.mpg.de">Contact us</a> to provide a translation.</p>
</div>

<div class="container__authors" id="list__authors">
  <p class="text-statement text-statement__author"> Authors:
    <a class="text-statement text-statement__author__name" title="Max Planck Institute for Dynamics and Self-Organization, Göttingen, Germany" href="#">Viola Priesemann, </a>
    <a class="text-statement text-statement__author__name" title="Technische Universität Braunschweig, Helmholtz Zentrum für Infektionsforschung, Braunschweig, Germany" href="#">Melanie Brinkmann, </a>
    <a class="text-statement text-statement__author__name" title="Faculty of Medicine &amp; Surgery, University of Malta, Msida, Malta" href="#">Sarah Cuschieri, </a>
    <a class="text-statement text-statement__author__name" title="Institute for Advanced Studies, Vienna, Austria, and London School of Economics, London, UK" href="#">Thomas Czypionka, </a>
    <a class="text-statement text-statement__author__name" title="University of Trento, Trento, Italy" href="#">Giulia Giordano, </a>
    <a class="text-statement text-statement__author__name" title="Queen Mary University of London, London, UK" href="#">Deepti Gurdasani, </a>
    <a class="text-statement text-statement__author__name" title="Karolinska Institutet, Stockholm, Sweden, and London School of Hygiene &amp; Tropical Medicine, London, United Kingdom" href="#">Claudia Hanson, </a>
    <a class="text-statement text-statement__author__name" title="Hasselt University, Hasselt &amp; University of Antwerp, Antwerp, Belgium" href="#">Niel Hens, </a>
    <a class="text-statement text-statement__author__name" title="Max Planck Institute for Dynamics and Self-Organization, Göttingen, Germany, and University Medical Center Utrecht, Utrecht, The Netherlands" href="#">Emil Iftekhar, </a>
    <a class="text-statement text-statement__author__name" title="Inserm-University Toulouse III Paul Sabatier, France" href="#">Michelle Kelly-Irving, </a><a class="text-statement text-statement__author__name" title="Medical University of Vienna and Complexity Science Hub Vienna, Vienna, Austria" href="#">Peter Klimek, </a>
    <a class="text-statement text-statement__author__name" title="University Medical Center Utrecht, Utrecht, The Netherlands" href="#">Mirjam Kretzschmar, </a>
    <a class="text-statement text-statement__author__name" title="ifo Institute – Leibniz Institute for Economic Research at the University of Munich, Munich, Germany" href="#">Andreas Peichl, </a>
    <a class="text-statement text-statement__author__name" title="University of Maribor, Maribor, Slovenia" href="#">Matjaž Perc, </a>
    <a class="text-statement text-statement__author__name" title="Federico II Univ. of Napoli, Italy, and Centre of Excellence for Particle Physics and Cosmology (CP3-Origins) at the University of Southern Denmark, and Danish Institute for Advanced Study, Denmark" href="#">Francesco Sannino, </a>
    <a class="text-statement text-statement__author__name" title="Department of Epidemiology, Center for Public Health, Medical University of Vienna, Vienna, Austria" href="#">Eva Schernhammer, </a>
    <a class="text-statement text-statement__author__name" title="Campus Institute for Dynamics of Biological Networks, Max Planck Institute of Experimental Medicine and Max Planck Institute for Dynamics and Self-Organization, Göttingen, Germany" href="#">Alexander Schmidt, </a>
    <a class="text-statement text-statement__author__name" title="School of Nursing, Psychotherapy and Community Health, Dublin City University. Dublin, Ireland" href="#">Anthony Staines, </a>
    <a class="text-statement text-statement__author__name" title="Faculty of Mathematics, Informatics and Mechanics, University of Warsaw, Warsaw, Poland" href="#">Ewa Szczurek</a>
  </p>
</div>

<figure class="figure">
  <img src="images/wave_breaker_test.png" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption"></figcaption>
</figure>

<div class="container-fluid container-statement" id="statement__text">

  <p class="text-statement text-statement__plain">statement_01</p>

  <p class="text-statement text-statement__plain">statement_02</p>

  <div id="accordion">
    <div class="card">
      <div class="card-header card-header__statement" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link float-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-angle-down float-left rotate-icon"></i><span class="text-statement text-statement__card">statement_03</span>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body"><span class="text-statement text-statement__card-body">statement_04</span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header card-header__statement" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link float-left collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-angle-down float-left rotate-icon"></i><span class="text-statement text-statement__card">statement_05</span>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <span class="text-statement text-statement__card-body">statement_06<a href='#references'>[1]</a></span>.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header card-header__statement" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link float-left collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fas fa-angle-down float-left rotate-icon"></i><span class="text-statement text-statement__card" >statement_07</span>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <span class="text-statement text-statement__card-body">statement_08 <a href='#references'>[2,3]</a> statement_09</span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header card-header__statement" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link float-left collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <i class="fas fa-angle-down float-left rotate-icon"></i><span class="text-statement text-statement__card">statement_10</span>
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <span class="text-statement text-statement__card-body">statement_11</span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header card-header__statement" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link float-left collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <i class="fas fa-angle-down float-left rotate-icon"></i><span class="text-statement text-statement__card">statement_12<a href='#references'>[4]</a></span>
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          <span class="text-statement text-statement__card-body" id="">statement_13 <a href='#references'>[5]</a> statement_14</span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header card-header__statement" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link float-left collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <i class="fas fa-angle-down float-left rotate-icon"></i><span class="text-statement text-statement__card">statement_15</span>
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          <span class="text-statement text-statement__card-body">statement_16<a href='#references'>[6,7,8]</a>.</span>
        </div>
      </div>
    </div>
  </div>


  <p><span class="text-statement text-statement__plain">statement_17</span></p>

  <!-- <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-lg-4">

      </div>
      <div class="col-lg-4">

      </div>
      <div class="col-lg-4">

      </div>
    </div>
  </div> -->

  <ol type='1'>
    <li class="list-major"><b><span class="text-statement text-statement__plain">statement_18</span></b>
      <ol type='i' class="list-minor">
        <li><span class="text-statement text-statement__plain">statement_19</span></li>
        <li><span class="text-statement text-statement__plain">statement_20</span></li>
        <li><span class="text-statement text-statement__plain">statement_21</span></li>
      </ol>
    </li>
    <li class="list-major"><b><span class="text-statement text-statement__plain">statement_22</span></b>
      <ol type='i' class="list-minor">
        <li><span class="text-statement text-statement__plain">statement_23</span></li>
        <li><span class="text-statement text-statement__plain">statement_24</span></li>
        <li><span class="text-statement text-statement__plain">statement_25</span></li>
      </ol>
    </li>
    <li class="list-major"><b><span class="text-statement text-statement__plain">statement_26</span></b>
      <p><span class="text-statement text-statement__plain">statement_27<a href='#references'>[9]</a>.</span><p>
    </li>
  </ol>

  <p><span class="text-statement text-statement__plain statement__plain__highlight">statement_28</span><span class="text-statement text-statement__plain">statement_29</span></p>

  <p><span class="text-statement text-statement__plain statement__plain__highlight">statement_30</span><span class="text-statement text-statement__plain">statement_31</span></p>

  <p><span class="text-statement text-statement__plain">statement_32</span></p>
</div>

<div class="container-fluid padding container__references">
  <a id="statement__references" name="references"><h2>statement_33</h2></a>
  <div id="list__references">
    <ul style="list-style: none;">
      <li><span class="ref ref__number">[1] </span><span class="ref ref__authors">Dorn, F., Fuest, C., Göttert, M., Krolage, C., Lautenbacher, S., Lehmann, R., ... &amp; Sauer, S., </span><span class="ref ref__year">2020, </span><span class="ref ref__title"><a class="ref__title-link" href="https://www.econpol.eu/publications/policy_brief_25" target="_blank">The economic costs of the coronavirus shutdown for selected european countries: A scenario calculation</a>, </span><span class="ref ref__year">(No. 25). EconPol Policy Brief.</span></li>
      <li><span class="ref ref__number">[2] </span><span class="ref ref__authors">Kretzschmar, M. E., Rozhnova, G., Bootsma, M. C., van Boven, M., van de Wijgert, J. H., &amp; Bonten, M. J., </span><span class="ref ref__year">2020, </span><span class="ref ref__title"><a class="ref__title-link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7365652/" target="_blank">Impact of delays on effectiveness of contact tracing strategies for COVID-19: a modelling study.</a>, </span><span class="ref ref__year">The Lancet Public Health, 5(8), e452-e459.</span></li>
      <li><span class="ref ref__number">[3] </span><span class="ref ref__authors">Maier, B. F., &amp; Brockmann, D., </span><span class="ref ref__year">2020, </span><span class="ref ref__title"><a class="ref__title-link" href="https://science.sciencemag.org/content/368/6492/742" target="_blank">Effective containment explains subexponential growth in recent confirmed COVID-19 cases in China.</a>, </span><span class="ref ref__year">Science, 368(6492), 742-746</span></li>
      <li><span class="ref ref__number">[4] </span><span class="ref ref__authors">Alwan, N. A., Burgess, R. A., Ashworth, S., Beale, R., Bhadelia, N., Bogaert, D., ... &amp; Gurdasani, D., </span><span class="ref ref__year">2020, </span><span class="ref ref__title"><a class="ref__title-link" href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(20)32153-X/fulltext" target="_blank">Scientific consensus on the COVID-19 pandemic: we need to act now.</a>, </span><span class="ref ref__year">The Lancet, 396(10260), e71-e72.</span></li><li><span class="ref ref__number">[5] </span><span class="ref ref__title"><a class="ref__title-link" href="https://www.imperial.ac.uk/medicine/research-and-impact/groups/react-study/real-time-assessment-of-community-transmission-findings/" target="_blank">REACT-2 study (access: 06/12/2020)</a>, </span></li>
      <li><span class="ref ref__number">[6] </span><span class="ref ref__authors">Dehning, J., Zierenberg, J., Spitzner, F. P., Wibral, M., Neto, J. P., Wilczek, M., &amp; Priesemann, V., </span><span class="ref ref__year">2020, </span><span class="ref ref__title"><a class="ref__title-link" href="https://science.sciencemag.org/content/369/6500/eabb9789" target="_blank">Inferring change points in the spread of COVID-19 reveals the effectiveness of interventions.</a>, </span><span class="ref ref__year">Science</span></li>
      <li><span class="ref ref__number">[7] </span><span class="ref ref__authors">Giordano, G., Blanchini, F., Bruno, R., Colaneri, P., Di Filippo, A., Di Matteo, A., &amp; Colaneri, M., </span><span class="ref ref__year">2020, </span><span class="ref ref__title"><a class="ref__title-link" href="https://www.nature.com/articles/s41591-020-0883-7" target="_blank">Modelling the COVID-19 epidemic and implementation of population-wide interventions in Italy.</a>, </span><span class="ref ref__year">Nature Medicine, 1-6.</span></li>
      <li><span class="ref ref__number">[8] </span><span class="ref ref__authors">Haug, N., Geyrhofer, L., Londei, A., Dervic, E., Desvars-Larrive, A., Loreto, V., ... &amp; Klimek, P., </span><span class="ref ref__year">2020, </span><span class="ref ref__title"><a class="ref__title-link" href="https://www.nature.com/articles/s41562-020-01009-0" target="_blank">Ranking the effectiveness of worldwide COVID-19 government interventions.</a>, </span><span class="ref ref__year">Nature human behaviour, 1-10.</span></li>
      <li><span class="ref ref__number">[9] </span><span class="ref ref__authors">Dykstra, P., Fortunato, E., Grobert, N., Heuer, R. D., Nurse, P., Kondorosi, É., ... &amp; Woopen, C., Piot, P., </span><span class="ref ref__year">2020, </span><span class="ref ref__title"><a class="ref__title-link" href="https://ec.europa.eu/info/sites/info/files/jointopinion_improvingpandemicpreparednessandmanagement_nov2020_0.pdf" target="_blank">Improving pandemic preparedness and management: Lessons learned and ways forward: independent expert report</a>, </span><span class="ref ref__year">From the Group of Chief Scientific Advisors to the European Commission, the European Group on Ethics in Science and New Technologies and the Special Advisor to President Ursula von der Leyen.</span></li>
    </ul>
  </div>
</div>
