<h1 class="newsArticleText newsArticleText__title">Text_00</h1>
<h3 class="newsArticleText newsArticleText__subtitle"><a href="https://www.zeit.de/2020/52/corona-lockdown-weihnachten-europa-reisen-soziale-kontakte-aha-l" target="_blank">Text_01</a><h3>

<h5 class="newsArticleText__authors">Text_02</h5>

<p>Text_03</p>
<p>Text_04</p>

<p class="newsArticleText newsArticleText__teaser">Text_05</p>
<p class="newsArticleText newsArticleText__plain">Text_06</p>

<p class="newsArticleText newsArticleText__plain">Text_07</p>

<p class="newsArticleText newsArticleText__plain">Text_08</p>

<p class="newsArticleText newsArticleText__plain">Text_09</p>

<p class="newsArticleText newsArticleText__plain">Text_10</p>

<p class="newsArticleText newsArticleText__plain">Text_11</p>

<p class="newsArticleText newsArticleText__plain">Text_12</p>

<ul>
  <li class="newsArticleText newsArticleText__enumerate1">Text_13</li>
  <li class="newsArticleText newsArticleText__enumerate1">Text_14</li>
  <li class="newsArticleText newsArticleText__enumerate1">Text_15</li>
  <li class="newsArticleText newsArticleText__enumerate1">Text_16</li>
  <li class="newsArticleText newsArticleText__enumerate1">Text_17</li>
  <li class="newsArticleText newsArticleText__enumerate1">Text_18</li>
</ul>

<p class="newsArticleText newsArticleText__plain">Text_19</p>

<p class="newsArticleText newsArticleText__plain">Text_20</p>

<ol>
  <li class="newsArticleText newsArticleText__enumerate2">Text_21</li>
  <li class="newsArticleText newsArticleText__enumerate2">Text_22</li>
  <li class="newsArticleText newsArticleText__enumerate2">Text_23</li>
  <li class="newsArticleText newsArticleText__enumerate2">Text_24</li>
</ol>

<p class="newsArticleText newsArticleText__plain">Text_25</p>

<p class="newsArticleText newsArticleText__plain">Text_26</p>

<p class="newsArticleText newsArticleText__plain">Text_27</p>

<p class="newsArticleText newsArticleText__plain">Text_28</p>

<p class="newsArticleText newsArticleText__plain">Text_29</p>

<p class="newsArticleText newsArticleText__plain">Text_30</p>

<p class="newsArticleText newsArticleText__plain">Text_31</p>
