html, body {
  /* font-size:  1.0rem; */
  font-family: Helvetica, sans-serif;
  /* font-family:  Arial Narrow, Verdana, sans-serif; */

  /* color: $darkGrey; */
  background-color: $blueWhite;
  /* height: 100%; */
  /* width: 100%; */

  margin: 0;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
}
